@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'League-Spartan';
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/LeagueSpartan-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'League-Spartan';
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/LeagueSpartan-Bold.ttf') format('truetype');
  }



:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-background: hsl(180, 52%, 96%);
  --light-grayish-cyan: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);

  background-color: var(--light-grayish-cyan-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



